
.logo_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.season-image {
    max-height: 150px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.season-image:hover {
    transform: scale(1.1);
}
