/* Upload Area */
.upload-area {
    border: 2px dashed #007bff;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    width: 60%;
    margin: 0 auto;
    transition: background-color 0.3s ease;

}

.upload-area:hover {
    background-color: #636f85;
}

.upload-area p {
    margin: 0;
    font-size: 16px;
    color: #007bff;
}

.upload-area span {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

/* Hidden File Input */
#file-input {
    display: none;
}

#preview {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Image Preview */
.preview-item {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.preview-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.upload-con {
    margin-top: 20px;
    padding: 10px 20px;
    gap: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}
