<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ code }} {{ code_reason }}</title>
</head>
<body>
    <div class="header-container">
        <a href="{{ url_for('main.index') }}" class="logo">
            <img src="{{ url_for('static', filename='img/FL_logo.png') }}" alt="Logo">
        </a>
        <h1>{{ code }}<br>{{ code_reason }}<br></h1>
        <h2> {{ reason }} </h2>
    </div>
    <style>
        .header-container h1 {
            margin-top: 10%;
            color: white;
            font-size: xx-large;
        }
    </style>
</body>
</html>