<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/season_logo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Upload Logo</title>
</head>
<body>
    <div class="header-container">
        <a href="{{ url_for('main.index') }}" class="logo">
            <img src="{{ url_for('static', filename='img/FL_logo.png') }}" alt="Logo">
        </a>

        <h1>Drag-and-Drop Logo Upload</h1>
    </div>


    <!-- Drag-and-Drop Upload Area -->
    <div class="upload-area" id="upload-area">
        <p>Drag and drop Logo, oder <span id="upload-btn">klicken zum Upload</span></p>
        <input type="file" id="file-input" accept="image/*" multiple>
    </div>

    <form>
        <br><label for="season_name">Season: </label><label for="season_name"></label><input type="text" id="season_name" name="season_name"><br>
    </form>


    <button id="upload-con" class="upload-con">Upload</button>
    <div id="preview"></div>


    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
