<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Designer-Tool</title>
</head>
    <body>
        <h1>Designer-Tool</h1>

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('main.index')}}">Home-Page</a>
            <div class="collapse navbar-collapse" id="navbarNav">
            </div>
        </nav>
    </body>
</html>
